(
    components: [
        ((
            name: "OpenInvertedCube",
            resource: (),
        ), (
            pos: ((0.4922824, -0.0072157886, 0.5090329)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, -1.0, 0.00000008742278)), ((0.0, -0.00000008742278, -1.0))),
            scale: Vector(((2.0348144, 1.0174072, 2.014287))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((0.5, 0.5, 2.0)),
            frame: (((0.0, 1.0, 0.0)), ((0.0, 0.0, 1.0)), ((1.0, 0.0, 0.0))),
            scale: Vector(((1.0, 2.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((2.0, 0.5, 0.5)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, 2.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((0.5, 0.5, -1.0)),
            frame: (((0.0, 1.0, 0.0)), ((0.0, 0.0, 1.0)), ((1.0, 0.0, 0.0))),
            scale: Vector(((1.0, 2.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((2.0, 0.5, -1.0)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, -1.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((-1.0, 0.5, 0.5)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, 2.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((-1.0, 0.5, -1.0)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, -1.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((-1.0, 0.5, 2.0)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, -1.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "OneSidedFace",
            resource: (),
        ), (
            pos: ((2.0, 0.5, 2.0)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((1.0, -1.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "InvertedPipe",
            resource: (),
        ), (
            pos: ((0.49098217, 1.0518852, 0.52567315)),
            frame: (((1.0, 0.0, 0.0)), ((0.0, 0.0, 1.0)), ((0.0, -1.0, 0.0))),
            scale: Vector(((4.0, 4.0, 1.0))),
        ), Uniform((
            start: Default,
            steps: [
                ColorByNormal,
                MergedWith((
                    start: Fuzz,
                    steps: [],
                )),
            ],
        )), Some(()), None),
        ((
            name: "Coin",
            resource: (),
        ), (
            pos: ((0.5, 0.0, 0.5)),
            frame: (((-0.24437653, 0.0, -0.45333382)), ((0.0, 1.0, 0.0)), ((0.33499873, 0.0, -0.36092052))),
            scale: Scalar(1.0),
        ), Uniform((
            start: Default,
            steps: [
                WithColor(((1.0, 1.0, 0.0, 1.0))),
            ],
        )), None, Some(())),
        ((
            name: "Coin",
            resource: (),
        ), (
            pos: ((2.0, 0.75, -1.0)),
            frame: (((-0.3123297, 0.0, -0.3368312)), ((0.0, 1.0, 0.0)), ((0.27678856, 0.0, -0.39973527))),
            scale: Scalar(1.0),
        ), Uniform((
            start: Default,
            steps: [
                WithColor(((1.0, 1.0, 0.0, 1.0))),
            ],
        )), None, Some(())),
        ((
            name: "Coin",
            resource: (),
        ), (
            pos: ((2.0, 0.75, 2.0)),
            frame: (((-0.3188631, 0.0, 0.37956116)), ((0.0, 1.0, 0.0)), ((-0.27080238, 0.0, -0.37618473))),
            scale: Scalar(1.0),
        ), Uniform((
            start: Default,
            steps: [
                WithColor(((1.0, 1.0, 0.0, 1.0))),
            ],
        )), None, Some(())),
        ((
            name: "Coin",
            resource: (),
        ), (
            pos: ((-1.0, 0.75, 2.0)),
            frame: (((-0.44062468, 0.0, -0.010369103)), ((0.0, 1.0, 0.0)), ((0.054444894, 0.0, -0.5111172))),
            scale: Scalar(1.0),
        ), Uniform((
            start: Default,
            steps: [
                WithColor(((1.0, 1.0, 0.0, 1.0))),
            ],
        )), None, Some(())),
        ((
            name: "Coin",
            resource: (),
        ), (
            pos: ((-1.0, 0.75, -1.0)),
            frame: (((-0.44866022, 0.0, -0.009682786)), ((0.0, 1.0, 0.0)), ((0.054787792, 0.0, -0.5204149))),
            scale: Scalar(1.0),
        ), Uniform((
            start: Default,
            steps: [
                WithColor(((1.0, 1.0, 0.0, 1.0))),
            ],
        )), None, Some(())),
    ],
    player_data: (
        transform: (
            pos: ((2.0394585, 1.6859735, 0.43358535)),
            frame: (((0.02170564, 0.00000014958641, 0.9997498)), ((-0.13406394, 0.99094933, 0.0029104215)), ((-0.99071676, -0.13410133, 0.02150812))),
            scale: Scalar(1.0),
        ),
        heading: ((((0.021704344, 0.0, 0.9997542)), ((0.0, 1.0, 0.0)), ((-0.9997587, 0.0, 0.021706216)))),
    ),
)